In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [2]:
digits = datasets.load_digits()
n_samples = len(digits.images)
print(n_samples)

data = digits.images.reshape((n_samples, -1))
# Split data into 60% train and 40% test subsets
X_train, X_test, y_train, y_test = train_test_split(
    data, digits.target, test_size=0.4, shuffle=False)

1797

In [3]:
import sys
sys.path.insert(0,'../..')
from src.model.ModeloAnalitico import BaseModel

In [4]:
model = BaseModel()

In [5]:
model

BaseModel()

In [6]:
model.fit(X_train,y_train)

BaseModel()

In [7]:
model.predict(pd.DataFrame(X_test).sample(3))

     predict
333        4
273        4
377        8

In [8]:
model.save_model()

In [10]:
model.load_model('C:/app_base/model/generated/app_base_model_v_20210324_005327.joblib')

In [11]:
model.predict(pd.read_csv('sample_image_app_base.csv',index_col=0))

     predict
id
674        1

In [12]:
model.load_dataframe('sample_image_app_base.csv')

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
id,,,,,,,,,,,,,,,,,,,,,
674,0.0,0.0,4.0,10.0,12.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,9.0,10.0,0.0,0.0,0.0

In [14]:
model.predict()

     predict
id
674        1